@{
    ViewData["Title"] = "Steps";
}

<div class="row">
    <h4 class="text-center"></h4>
    <div class="grid-three mt-4 text-center">
        <div class="block-card">
            <h4>
                Step 1
            </h4>
            <h4 class="fw-bold mt-2">
                Download Input Data
            </h4>
            <a href="https://1drv.ms/u/s!Aqtiov6T778DgwrpBvZ-IkCgtOZl?e=NxKpER" class="btn btn-outline-primary mt-3">
                Download <i class="fa-solid fa-download fa-1x"></i>
            </a>
        </div>
        @*<div class="block-card">
        <h4>
        Step 2
        </h4>
        <h4 class="fw-bold mt-2">
        Translate Layer
        </h4>
        <a href="@Url.Action("TranslateLayer", "Detection")" class="btn btn-outline-primary mt-3">
        Translate <i class="fa-solid fa-language fa-1x"></i>
        </a>
        </div>
        <div class="block-card">
        <h4>
        Step 3
        </h4>
        <h4 class="fw-bold mt-2">
        Build Pyramids
        </h4>
        <a href="@Url.Action("BuildPyramids", "Detection")" class="btn btn-outline-primary mt-3">
        Build <i class="fa-solid fa-cubes fa-1x"></i>
        </a>
        </div>*@
        <div class="block-card">
            <h4>
                Step 2
            </h4>
            <h4 class="fw-bold mt-2">
                Compute Image Statistics
            </h4>
            <a href="@Url.Action("ComputeImageStatistics", "Detection")" class="btn btn-outline-primary mt-3">
                Compute <i class="fa-solid fa-code fa-1x"></i>
            </a>
        </div>
        <div class="block-card">
            <h4>
                Step 3
            </h4>
            <h4 class="fw-bold mt-2">
                Train Image Classifier
            </h4>
            <a href="@Url.Action("TrainImageClassifier", "Detection")" class="btn btn-outline-primary mt-3">
                Train <i class="fa-solid fa-dumbbell fa-1x"></i>
            </a>
        </div>
        <div class="block-card">
            <h4>
                Step 4
            </h4>
            <h4 class="fw-bold mt-2">
                Image Classifier
            </h4>
            <a href="@Url.Action("ImageClassifier", "Detection")" class="btn btn-outline-primary mt-3">
                Classify <i class="fa-solid fa-crosshairs fa-1x"></i>
            </a>
        </div>
        <div class="block-card">
            <h4>
                Step 5
            </h4>
            <h4 class="fw-bold mt-2">
                Raster Calculator
            </h4>
            <a href="@Url.Action("RasterCalculator", "Detection")" class="btn btn-outline-primary mt-3">
                Calculate <i class="fa-solid fa-calculator fa-1x"></i>
            </a>
        </div>
        <div class="block-card">
            <h4>
                Step 6
            </h4>
            <h4 class="fw-bold mt-2">
                Sieve
            </h4>
            <a href="@Url.Action("Sieve", "Detection")" class="btn btn-outline-primary mt-3">
                Sieve <i class="fa-solid fa-users-viewfinder fa-1x"></i>
            </a>
        </div>
        <div class="block-card">
            <h4>
                Step 7
            </h4>
            <h4 class="fw-bold mt-2">
                Polygonize
            </h4>
            <a href="@Url.Action("Polygonize", "Detection")" class="btn btn-outline-primary mt-3">
                Polygonize <<i class="fa-solid fa-draw-polygon fa-1x"></i>
            </a>
        </div>
    </div>
</div>
